name: Deploy KoLmafia script

on:
  push:
      branches: [main]
  workflow_dispatch:

env:
  node-version: "22"

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build and Push
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ env.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.node-version }}
      - run: corepack enable

      - name: Install dependencies
        run: yarn install --immutable

      - name: Build script
        run: yarn workspace greenbox-script run build
    
      - name: Push
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: release
          FOLDER: packages/greenbox-script/dist # The directory where your assets are generated
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # GitHub will automatically add this - you don't need to bother getting a token
          MESSAGE: "Build: ({sha}) {msg}" # The commit message
          SKIP_EMPTY_COMMITS: true